/* . for class  and # for id */
/*pseudo class time  p:hovar means one colon,, and
pseduo element time double colon p::after*/
/*media query-tell the browser how to style the element at particular viewpoint dimensions.
viewport meta tag-tells the browser what width the viewport should be
responsive images- only load smaller imagez for mobile devices*/

body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color: beige;
    color: blueviolet;
    text-align: center;
   /* position: static; normal document flow default setting*/
    position: fixed; /*fixed while page is scroll up down */
    width: 100%;
    z-index: 2;/*bring the element forward right to the page value 1 or 2*/
    /*to back the element under some element z-index will be -1 or -2*/
}
header h1{
    border: 8px solid white;
    color: purple;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;/*border radius cureve the corner of the element*/
}
.banner{
    position: relative;/*we can move it relative to its original position*/
    /*left: 100px; it is relative to its parents
    top: 100px;*/
}
.banner img{
    max-width: 100%;
}
.banner .Welcome{
    background-color: rgb(111, 111, 13);
    color: chartreuse;
    padding: 30px;
    position: absolute;/*same height from the top even the banner gets bigger or smaller */
    left: 0px;/*parent element has to have a position property that is not static it should be reletive ,
    and we use absolute position when we want to position inside that parents then we can use combination of left,right,to,bottom instead of the position of the element of the parent one*/
    top: 30%;
}
.banner h2{
    font-size: 40px;
}
.banner h2 span{
    font-size: 50px;
    color: blue;
}
nav {
    background-color: bisque;
    padding: 20px;
    position: sticky;
    top: 106px;/*when it goes upto the 150% from the top it stick there */
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: orangered;
}
nav li a.join{
    color: orange;
    padding: 10px;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    pad: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: rgb(131, 11, 131);
    font-size: 50px;
    line-height: 70px;
    text-align: center;
}
article p{
    color: rgb(7, 81, 53);
    line-height: 2em;
    text-align: center;
    background-color: bisque;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    /*border: 2px solid deeppink;*/

}
.images li{
    display: inline-block;
    margin: 20px 5%;
}
.images li img{
    width: 400px;
}
.join{
    background-color: blanchedalmond;
    text-align: center;
    color: brown;
    padding: 60px 20px;
}
.join h2{
    font-size: 36px;
    color: rgb(101, 226, 43);
}
form input{
    margin:20px 0;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 10px dashed palegreen;
}
footer{
    background-color: rgb(83, 145, 119);
    color: rgb(40, 5, 72);
    text-align: center;
}
/*pseudo classes hover - means when we put the cursor on the text this changes will happen*/
nav li a:hover{
    text-decoration: underline;
    background-color: rgb(150, 115, 184);
    padding: 3px;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{ /*when we click on that field it will be chnaged by this property */
    border: 4px dashed red;
}
form input:valid{ /*when it is valid it changed in this patter*/
    border: 4px solid rgb(180, 163, 19);
}
/*nav li:first-child{
    border: 3px solid salmon; the first element of the parent class
}*/
article p::first-line{ /*to specify the first line of the article */
    font-weight: bold;
    font-size: 1.5em;
}
section.join p::first-letter{
    font-size: 2em;
    color: rgb(255, 200, 0);
}
 p::selection{ /*when select the text its color changed */
    color: brown;
    background-color: blanchedalmond;
}
p::after{ /*to add ... after the content we use it*/
    content: '...';
}
/*responsive styles*/
@media only screen and (max-width: 1400px){
    .banner .Welcome h2{
       /* color: aqua;
        padding: 30px;
        position: absolute;
        left: 0;
        top: 30%;*/
        font-size: 80px;
    }
    nav li{
        font-size: 18px;
    }
}
@media only screen and (max-width: 960px){
    .banner .Welcome h2{
       /* color: aqua;
        padding: 30px;
        position: absolute;
        left: 0;
        top: 30%;*/
        font-size: 40px;
    }
}
@media only screen and (max-width: 700px){
    .banner .Welcome h2{
       /* color: aqua;
        padding: 30px;
        position: absolute;
        left: 0;
        top: 30%;*/
        font-size: 30px;
    }
}
@media only screen and (max-width: 500px){
    .images li img{
        width: 270px;
        
    }
    .images li{
        display: block;
    }
    nav li a{
        font-size: 15px;
    } 
    article p, .join{
        font-size: 15px;
    }
    .banner .Welcome{
        font-size: 20px;
    }
    .banner h2 span{
        font-size: 50px;
    }
}
     